.notification-image-container {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.notification-onworks {
    font-size: 1.75rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 2rem;
    background-color: #FF4700;
    width: 70rem;
    text-align: center;
}

.image-container {
    justify-content: center;
    width: 50%;
}

.worker-image {
    width: 28rem; 
}