.main-login-register{
    display: flex;
    align-items: center;

}
.form-terms{
    display:flex;
    flex-direction: row;
}
.form-terms input{
    height:15px;
    width: 20px;
}

.section-forms{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
min-height:auto;

}

.carticle-changes-forms{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #FF4700;

}

.article-changes-forms div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.article-changes-forms div p,
.article-changes-forms button{
    margin-top: 30px;
}

.article-changes-forms div h3{
    font-weight: 400;
    font-size: 26px;
}

.article-changes-forms div p{
    font-size: 16px;
    font-weight: 300;
}

.article-changes-forms button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    border-radius: 2%;
}

.article-changes-forms button:hover{
    background: #fff;
    color: #020100;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
   
    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    border: 1px solid #fe4702;
}

.article-changes-forms{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #FF4700;

}


.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #FF4700;
}

.contenedor__login-register form input{
    width: 85%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #020100;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}
.form-div-respond{
    width: 90%;
    padding: 80px 15px;
    background: white;
    position: absolute;
    border-radius: 20px;
    border: 1px solid #fe4702;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-div-respond button {
    display: flex;
    margin-top: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
}

.form-div-respond button:nth-of-type(1) {
    background-color: #FF4700;
    color: white; 
}


.form-div-respond button:nth-of-type(2) {
    background-color: #FF4700;
    color: white; 
}


.form-div-respond button:nth-of-type(3) {
    background-color: #ebb8a4;
    color: white; 
}


.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    .article-changes-forms{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .article-changes-forms div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }


}


