
/* ContactView.css */

/* Agrega estilos para el formulario */

.contact-form input {
  color: #000000;
  height: 2.5rem; /* Convertido a rem */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 1rem; /* Convertido a rem */
  margin-bottom: 1.5rem; /* Convertido a rem */
  width: 100%;
  box-sizing: border-box;
}

.contact-container img {
  max-width: 100%;
  height: auto;
  margin-left: auto; /* Alinear al centro */
  margin-right: auto; /* Alinear al centro */
}

.contact-form textarea {
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem; /* Convertido a rem */
  margin-bottom: 1.5rem; /* Convertido a rem */
  width: 100%;
  box-sizing: border-box;
}

/* Estilos adicionales según tus necesidades */
.contact-form h2 {
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrap {
  display: flex;
  justify-content: space-around;
  max-width: 75rem; /* Convertido a rem */
  width: 100%;
}

.orange-rectangle {
  background-color: #ff4700;
  padding: 1.25rem; /* Convertido a rem */
  margin-bottom: 1.25rem; /* Convertido a rem */
  max-width: 100%;
  width: 97%;
  

}

.orange-rectangle h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.ubicacion {
  width: 18.75rem; /* Convertido a rem */
  margin-bottom: 2.5rem; /* Convertido a rem */
  margin-right: 50%;
}

.encabezado-ubicacion {
  font-size: 24px;
}

.ubicacion h4 {
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 10px;;
}

.contact-form-container {
  width: 100%;
  margin-bottom: 1.25rem; /* Convertido a rem */
}

.comentario-formulario {
  margin-top: 0.3125rem; /* Convertido a rem */
  margin-right: 1.875rem; /* Convertido a rem */
  margin-left: auto; /* Alinear al centro */
  width: calc(100% - 1.875rem); /* Ancho máximo menos los márgenes */
}

.contact-form section {
  width: 100%;
  height: 7.5rem; /* Convertido a rem */
}

.boton-contacto {
  width: auto;
  /* Ajusta el ancho automáticamente según el contenido */
  height: 2.5rem; /* Convertido a rem */
  background-color: #000000;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.boton-contacto-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.25rem; /* Convertido a rem */
  /* Ajusta el margen superior según tus necesidades */
}


.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem; /* Convertido a rem */
}

.checkbox-container input {
  margin-right: 0.3125rem; /* Convertido a rem */
  transform: scale(0.4);
  /* Adjust the scale factor as needed */
}

.checkbox-container label {
  white-space: nowrap;
}

textarea {
  height: 12rem;
  /* Puedes ajustar este valor según tu preferencia */
  /* O puedes utilizar la propiedad 'rows' en el HTML para ajustar el número de filas directamente */
  /* rows: 6; */
  max-width: 40rem;
  max-height: 12rem;
}

.siguenos-contactview {
  margin-top: 0.9375rem; /* Convertido a rem */
  margin-bottom: 1.5625rem; /* Convertido a rem */
}

/* Estilos para alinear a la derecha en pantallas grandes */
@media screen and (max-width: 62.5rem) { /* Convertido a rem */
  .contact-form {
    float: none;
    margin: 0 auto 1.25rem auto; /* Convertido a rem */
  }

  .contact-container,
  .ubicacion,
  .content-wrap,
  .encabezado-ubicacion {
    display: block;
    font-size: 0.875rem; /* Convertido a rem */
    margin-left: 1.875rem; /* Convertido a rem */
    margin-right: 1.875rem; /* Convertido a rem */
    overflow-x: hidden;
  }

  .contactImage,
  .orange-rectangle {
   max-width: 100%;
     /*height: auto;
    
    width: 100%;
    margin-left: auto; /* Alinear al centro */
    /*margin-right: auto; /* Alinear al centro */
  }

  .ubicacion p {
    margin-bottom: 1.25rem; /* Convertido a rem */
  }

  .checkbox-container,
  .boton-contacto-container {
    margin-bottom: 1.25rem; /* Convertido a rem */
  }

  .confirmacion-contactView {
    margin-top: 0.3125rem; /* Convertido a rem */
    margin-right: 1.875rem; /* Convertido a rem */
    margin-left: auto; /* Alinear al centro */
    width: calc(100% - 3.75rem); /* Ancho máximo menos los márgenes (Convertido a rem) */
  }

  .boton-contacto-container {
    margin-top: 1.25rem; /* Convertido a rem */
  }

  .contact-container img {
    max-width: 100%;
    height: auto;
    margin-left: auto; /* Alinear al centro */
    margin-right: auto; /* Alinear al centro */
  }

  .comentario-formulario {
    font-size: 0.875rem; /* Tamaño de fuente para pantallas móviles (Convertido a rem) */
    margin: 0 1.875rem 1.25rem; /* Márgenes izquierdo y derecho con un margen inferior (Convertido a rem) */
  }

  .contact-form input,
  .contact-form textarea {
    width: calc(100% - 1.875rem); /* Ancho máximo menos los márgenes (Convertido a rem) */
    margin-bottom: 1.25rem; /* Agregar espacio entre los campos (Convertido a rem) */
  }
}