.room-view-article-1{
    background-color: #FF4017;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.room-view-article-1 p{
font-size: 2rem;
color:#FFFFFF;
text-align: center;
font-weight: bold;
}