.room-card-section{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top:2rem;

}
.room-card-article{
    background-color: #ff4017;
    min-width: 20rem;
    min-height:8rem;
    margin:2rem;
    align-items: center;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
}

.room-card-article button {
    background-color: #020100;
    color:#FFFFFF !important;
    width: 12rem;
    font-size: 1.5rem;
    border-radius: 12px;
    text-decoration: none;
}
.room-card-article button:hover{
    background-color: #FFFFFF ;
    color:#FF4700 !important;
}

@media screen and (max-width:1000px){
    
    .room-card-section{
        display: flex;
        flex-direction: column;

        }
        .room-card-article button {
           
            width: 9rem;
            font-size: 1.2rem;

        }

}